# Django Requirements
daphne==4.1.2
channels==4.1.0
channels-redis==4.2.0
django==5.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.3.1
python-decouple==3.8
psycopg2-binary==2.9.10
requests==2.31.0
Pillow==10.4.0
dj-database-url==2.2.0
whitenoise==6.7.0
